
<footer class="page-footer footer-color">
  <hr>
    <div class="footer-copyright footer-color">
      <div class="container">
        <p class="center black-text">In Our Lord Jesus Christ I trust&nbsp;
          © <%= Time.now.year %>&nbsp;All rights reserved.&nbsp;
          <i class="fa fa-heart" aria-hidden="true"></i>
          by&nbsp;<strong><a href="http://lrjbrual.com">RyanJeff</a></strong>&nbsp;&nbsp;
          |&nbsp;&nbsp; Admin Login
        </p>
      </div>
    </div>
</footer>
