<br><br><br>
<div class="container">
  <div class="card-panel">
  <ul>
    <li><h5>Manage Post</h5></li>
    <li><a class="waves-effect waves-light btn btn-small">Add Post</a></li>
  </ul>
<table class="highlight col-s12 col-m12">
  <thead>
    <tr>
        <th data-field="id">Title</th>
        <th data-field="name">Categories</th>
        <th data-field="price">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alvin</td>
      <td>Eclair</td>
      <td>
        <a class="btn-floating blue"><i class="material-icons">edit</i></a>
        <a class="btn-floating red"><i class="material-icons">delete</i></a>
      </td>
    </tr>
    <tr>
      <td>Alan</td>
      <td>Jellybean</td>
      <td>
        <a class="btn-floating blue"><i class="material-icons">edit</i></a>
        <a class="btn-floating red"><i class="material-icons">delete</i></a>
      </td>
    </tr>
    <tr>
      <td>Jonathan</td>
      <td>Lollipop</td>
      <td>
        <a class="btn-floating blue"><i class="material-icons">edit</i></a>
        <a class="btn-floating red"><i class="material-icons">delete</i></a>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
