<div class="about-image">
<div class="container">
<section>
<div class="col s12 m8 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
        <%= image_tag "luz-banner.jpeg", alt:"mypicture", class: "col s4 m4 responsive-img" %> <!-- notice the "circle" class -->
      <div class="col s8 m8">
        <span class="black-text">
          <p class="name-text">
            Luz Viminda
          </p>
          About me..
        </span>
      </div>
    </div>
    </section>
    <section class="z-depth-2 white color-text">
      <h4>I offer the following Services</h4>
      <h6><u>I nostri servizi sono gratuiti</u></h6>
      <table class="highlight">
        <thead>
          <tr>
              <th data-field="name"><h6 class="th-text">Asistenza Previdenziale</h6></th>
              <th data-field="name"><h6 class="th-text">Asistenza Agli Invalidi Civili Sociale</h6></th>
              <th data-field="name"><h6 class="th-text">Assistenza Danni Alla Salute Causati Dal Lavoro</h6></th>
              <th data-field="name"><h6 class="th-text">Sportello Immigrazione</h6></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Pensioni: calcolo della pensione, vecchiala, anticipata (ex anzianita), ai superstiti (reversibilita)</td>
            <td>Pensione di inabilita (Beneficiari: ciechi assoluti, invalidi civili, sordomuti, ciechi parziali).</td>
            <td>Denuncia di infortuni e malattie professionali.</td>
            <td>Permesso di soggiorno</td>
          </tr>
          <tr>
            <td>Verifica importo pensione</td>
            <td>Assegno mensile di assistenza (Beneficiari: ciechi civili assoluti, invalidi cinili totali)</td>
            <td>Pensione privilegiata.</td>
            <td>Ricongiungimento familiari</td>
          </tr>
          <tr>
            <td>Verifica posizione assicurativa</td>
            <td>Indennita per ciechi parziali</td>
            <td>Danno biologico</td>
            <td>Rinnovo permesso di soggiorno</td>
          </tr>
          <tr>
            <td>Accreditamento servizio militare</td>
            <td>Indennita di comunicazione (Benefiaciari sordomuti)</td>
            <td>Equo indennizzo</td>
            <td>Carta di Soggiorno</td>
          </tr>
          <tr>
            <td>Pratiche previdenziali con gli stati esteri</td>
            <td>Indennita di accompagnamento</td>
            <td>Cause di servizio</td>
            <td>Richiesta cittadinanza italiana</td>
          </tr>
          <tr>
            <td>Indennita di maternita</td>
            <td>Indennita di frequenza</td>
            <td>Richiesta indennita temporanea per infortuni o malattie professionali</td>
            <td>Richiesta cittadinanza italiana</td>
          </tr>
          <tr>
            <td>Disoccupazione</td>
            <td>Assegno sociale</td>
            <td>Aggravamenti</td>
            <td></td>
          </tr>
          <tr>
            <td>Dischiarazione reddituale su pensioni (mod. RED)</td>
            <td>Acceso ai benefici di tutela dell'handicap (legge 104/92)</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
</div>
</div>
